.destinations {
  padding: 50px;
  text-align: center;
  background-color: ghostwhite;
}

.back-button {
  margin-top: 70px; 
  text-align: left;
}

.back-button .btn {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.destination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.destination-card {
  width: 250px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  text-align: center;
}

.destination-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}

.destination-card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.destination-card p {
  font-size: 1rem;
  color: #555;
}

.price {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.book-now {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.book-now:hover {
  background-color: #0056b3;
}