.auth-register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/images/img4.jpg') no-repeat center center fixed; 
  background-size: cover; 
  font-family: 'Arial', sans-serif;
}

.auth-register-container {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 450px;
  width: 100%;
  text-align: center;
}

.auth-register-container h1 {
  margin-bottom: 20px;
  color: black; 
  font-size: 2rem;
  font-weight: bold;
}

.input-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px 15px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f9f9f9; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: black;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  outline: none;
}

.auth-button {
  background-color: black; 
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

 .auth-button:hover {
   background-color: black;  
 }

@media (max-width: 480px) {
  .auth-register-container {
    padding: 20px;
  }

  .auth-register-container h1 {
    font-size: 1.5rem;
  }
}